body{
    background-image: url("backgroundimage.jpg");
    background-size: 100%;
}
#clockContainer{
    position:relative;
    margin: auto;
    height: 35vw;
    width: 35vw;
    background: url(clock.jpg) no-repeat;
    background-size: 100%;
}
#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 2%;
    height: 20%;
    top: 29%;
    left: 49%;
    opacity:0.8;
  

}
#minute{
    width: 2%;
    height: 26%;
    top: 24%;
    left: 49%;
    opacity:0.8;
    
}
#second{
    width: 1%;
    height: 30%;
    top: 20%;
    left: 49.5%;
    opacity:0.8;
    
}